
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    
}
html,body,#app{
    height: 100%;
}
body {
    background-repeat: no-repeat;
    min-height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    line-height: 1.65;
    background-color: #f6f6f6;
    overflow-x: hidden;
}
:focus {
    outline: 1;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none !important;
}

li{ 
    list-style-type: none;
}
.contentpage{
    background-color: #f6f6f6; 
}
/* 隐藏特定容器的滚动条 */
.container {
    overflow-y: scroll; /* 确保Y轴有滚动 */
}
 
/* 针对WebKit浏览器隐藏滚动条 */
.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
 
/* 对于Firefox */
.container {
    scrollbar-width: none; /* Firefox 64 */
}

