@horizontal-margin: 10%;
@vertical-margin: 4%;

.down{
    position: absolute;
    right: @horizontal-margin;
    top: @vertical-margin;
}
.down-img{
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}
.logo-wrap{
    position: absolute;
    left: @horizontal-margin;
    top: @vertical-margin;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}

.ms-login {
    position: absolute;
    right: 10%;
    top: 45%;
    width: 500px;
    margin-top: -190px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 0 30px;
    box-sizing: border-box;
    .ms-content {
        padding-top: 30px;
        padding-bottom: 10px;
        /deep/ .el-icon-user,/deep/ .el-icon-lock{
            font-size: 20px;
        }
        .login-btn {
            text-align: center;
            padding-top: 30px;
            margin-bottom: 10px;
            button {
                width: 100%;
                height: 36px;
            }
        }
        .login-tips {
            font-size: 12px;
            line-height: 30px;
            min-height: 30px;
        }
    }
}

.el-form-item{
    margin-bottom: 26px;
}
